- var articles = ["Самое важное в SASS", "Приёмы в вёрстке, без которых не обходится ни один сайт", "Самый необходимый набор Gulp плагинов", "Почему я выбрал Jade"]

aside.sidebar.js-sidebar

    ul.sidebar__list
        //- each article in articles
        //-     li.sidebar__item #{article}