@font-face {
	font-family: 'SansusWebissimo';
	src: url('../fonts/SansusWebissimo/SansusWebissimo.eot');
	src: url('../fonts/SansusWebissimo/SansusWebissimo.eot?#iefix') format('embedded-opentype'),
		url('../fonts/SansusWebissimo/SansusWebissimo.woff2') format('woff2'),
		url('../fonts/SansusWebissimo/SansusWebissimo.woff') format('woff'),
		url('../fonts/SansusWebissimo/SansusWebissimo.ttf') format('truetype'),
		url('../fonts/SansusWebissimo/SansusWebissimo.svg#SansusWebissimo') format('svg');
	font-weight: normal;
	font-style: normal;
}